{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1">
                <h1>Fale conosco</h1>
                <p>Você pode entrar em contato conosco tanto por
                    e-mail como pelas redes sociais, abaixo seguem
                    os links para contato: </p>
                <h4> Links</h4>
                <ul>
                    <li>E-mail: lucas2lucas.com</li>
                    <li> Instagran: @ljefeson26</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}